# Python environment
venv/
__pycache__/
*.pyc

# Sensitive data such as the api key
.env
.env.local

# Local Database & Large Files
qdrant_local_data/
qdrant_storage/
data/
*.mp3
*.mp4

# Model caches (HuggingFace)
models/
qdrant_storage/

.DS_Store
sudo